* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: rgba(24, 23, 23, 0.849);
  max-width: 100vw;
  height: 100vh;
}
.main_head {
  color: white;
  display: flex;
  justify-content: center;
  padding: 5%;
}

i {
  color: rgb(240, 180, 17);
  font-size: 300%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder_grid {
  display: grid;
  padding: 20px;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.flex p {
  color: rgba(228, 224, 224, 0.945);
}

.folder_grid:hover {
  outline: 1px solid rgb(196, 195, 195);
  background-color: rgba(133, 127, 127, 0.486);
}

.grid {
  display: grid;
  width: 71%;
  grid-template-columns: repeat(5, 1fr);
}
