* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

#background {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#taskbar {
  width: 100%;
  height: 30px;
  background-color: rgb(36, 33, 33);
  position: fixed;
  z-index: 5;
  bottom: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  /* opacity: 0.5; */
}

.start {
  /* position:fixed; */
  font-size: 14px;
  padding: 0.4%;
  padding-left: 0.52%;
  padding-right: 0.52%;
  height: max-content;
  color: white;
  transition: 0.2s;
}

.start:hover {
  transition: 0.2s;
  background-color: rgba(97, 87, 87, 0.637);
  color: rgb(196, 74, 74);
}

#icon_start {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0.52%;
  padding-right: 0.52%;
  height: max-content;
  color: white;
  visibility: hidden;
  cursor: pointer;
}

div.start i {
  font-size: 1.2em;
}

#desktopicons {
  color: white;
  position: relative;
  display: grid;
  z-index: 2;
  width: max-content;
}

#d-box.active-small {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 50%;
  height: 60%;
  margin-left: 25%;
  margin-top: 8%;
  -webkit-box-shadow: 22px 22px 25px -17px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 22px 22px 25px -17px rgba(0, 0, 0, 0.33);
  box-shadow: 22px 22px 25px -17px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
}

div#d-box.active-small div#top.active-small {
  position: fixed;
  z-index: 3;
  width: 50%;
  height: 30px;
  background-color: #5eafff;
  border-radius: 5px 5px 0 0;
}

div#top.active-small i#close {
  color: rgb(221, 71, 71);
  font-size: 0.71em;
  margin-left: 2%;
  height: max-content;
  border-radius: 100%;
}

div#top.active-small i#close:hover {
  color: rgb(141, 54, 54);
}

div#top.active-small i#expand {
  color: #44b83a;
  font-size: 0.71em;
  margin-left: 0.5%;
  margin-top: 1.2%;
}

div#top.active-small i#expand:hover {
  color: #3e9237;
}

div#top.active-small i#shrink {
  color: #44b83a;
  font-size: 0.71em;
  margin-left: 0.5%;
  margin-top: 1.2%;
  visibility: hidden;
}

div#top.active-small i#shrink:hover {
  color: #3e9237;
}

div#top.active-small i#minimise {
  color: rgb(235, 213, 18);
  font-size: 0.71em;
  margin-left: 0.5%;
  margin-top: 1.2%;
}

div#top.active-small i#minimise:hover {
  color: rgb(175, 161, 29);
}

iframe.active-small {
  position: fixed;
  top: 0;
  left: 0;
  width: 50.03%;
  height: 56.8%;
  margin-left: 25%;
  margin-top: 9.8%;
  border-radius: 0 0 5px 5px;
}
iframe {
  width: 0;
  height: 0;
}

/************************************************************************************** */
#d-box.active-large {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 90%;
  margin-bottom: 30px;
}

div#d-box.active-large div#top.active-large {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 28px;
  background-color: #5eafff;
}

div#top.active-large i#close {
  color: rgb(221, 71, 71);
  font-size: 0.71em;
  margin-left: 1%;
  height: max-content;
  margin-top: 8px;
}

div#top.active-large i#close:hover {
  color: rgb(141, 54, 54);
}

div#top.active-large i#expand {
  color: #44b83a;
  font-size: 0.71em;
  margin-left: 0.3%;
  height: max-content;
  margin-top: 8px;
}

div#top.active-large i#expand:hover {
  color: #3e9237;
}

div#top.active-large i#shrink {
  color: #44b83a;
  font-size: 0.71em;
  margin-left: -1%;
  height: max-content;
  margin-top: 8px;
}

div#top.active-large i#shrink:hover {
  color: #3e9237;
}

div#top.active-large i#minimise {
  color: rgb(235, 213, 18);
  margin-left: 0.3%;
  font-size: 0.71em;
  height: max-content;
  margin-top: 8px;
}

div#top.active-large i#minimise:hover {
  color: rgb(175, 161, 29);
}

iframe.active-large {
  position: fixed;
  /* z-index: 5; */
  margin-top: 21px;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

@media (max-height: 660px) {
  iframe.active-large {
    height: 92%;
  }
}

@media (max-height: 582px) {
  iframe.active-large {
    height: 91%;
  }
}

@media (max-height: 500px) {
  iframe.active-large {
    height: 90%;
  }
}

@media (max-height: 460px) {
  iframe.active-large {
    height: 89%;
  }
}

@media (max-height: 420px) {
  iframe.active-large {
    height: 88%;
  }
}

@media (max-height: 390px) {
  iframe.active-large {
    height: 87%;
  }
}

@media (max-height: 342px) {
  iframe.active-large {
    height: 85%;
  }
}
/* ****************************************** */

div#d-box.go_down {
  animation-name: go_down;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

div#top.go_down {
  animation-name: go_down_top;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

div#top i.go_down {
  animation: invisible 200ms forwards;
}

iframe.go_down {
  animation: go_down_iframe 800ms forwards;
}

@keyframes go_down_iframe {
  from {
  }
  to {
    width: 0%;
    height: 0%;
    margin-top: 80%;
    margin-left: -26%;
  }
}

@keyframes invisible {
  from {
  }
  to {
    visibility: hidden;
  }
}

@keyframes go_down_top {
  from {
  }
  to {
    width: 0%;
    height: 0%;
  }
}

@keyframes go_down {
  from {
  }
  to {
    width: 0%;
    height: 0%;
    margin-top: 80%;
    margin-left: -26%;
  }
}

/* ************************ */

div#d-box.go_up {
  animation-name: go_up;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

div#top.go_up {
  animation-name: go_up_top;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

div#top i#close.go_up,
div#top i#minimise.go_up,
div#top i#expand.go_up {
  animation: visible 200ms forwards;
}

iframe.go_up {
  animation: go_up_iframe 800ms forwards;
}

@keyframes go_up_iframe {
  from {
    width: 0%;
    height: 0%;
    margin-top: 80%;
    margin-left: -26%;
  }
  to {
    position: fixed;
    top: 0;
    left: 0;
    width: 50.03%;
    height: 56.8%;
    margin-left: 25%;
    margin-top: 9.8%;
    border-radius: 0 0 5px 5px;
  }
}

@keyframes visible {
  from {
  }
  to {
    visibility: visible;
  }
}

@keyframes go_up_top {
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 50%;
    height: 4%;
  }
}

@keyframes go_up {
  from {
    width: 0%;
    height: 0%;
    margin-top: 80%;
    margin-left: -26%;
  }
  to {
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-top: 8%;
  }
}

/* ////////////////// */

#titles {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 12px;
  /* display: flex;
    justify-content: center; */
  width: max-content;
  margin-left: 2px;
}

#tab {
  cursor: default;
  position: relative;
  z-index: 2;
  width: max-content;
  /* margin:10px; */
  padding: 10px;
  border: 1px solid black;
}

#tab:hover {
  border: 1px solid rgb(173, 168, 168);
  background-color: rgba(97, 87, 87, 0.637);
}

/* /////////settings///////// */

/* .active-small-sdb {
  color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 50.03%;
  height: 56.8%;
  margin-left: 25%;
  margin-top: 9.8%;
  border-radius: 0 0 5px 5px;
} */
