.power{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blur{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/wall3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 8;
    filter: blur(0);
    transition: 1s;
}

.power img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.power input{
    background-color: rgb(224, 217, 217);

    width: 260px;
    outline-width: 0;
    letter-spacing: 2px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-left: 10px;
}
.power input:focus{
    background-color: white;
}

.grid{
    display: grid;
    grid-gap: 5px;
}

.grid div{
    display: flex;
    justify-content: center;
}

.hint{
    color: rgb(217, 223, 235);
}

.power button{
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(224, 217, 217);
    outline-width: 0;
    width: 80px;
    border-radius: 10px;
}

.power button:hover{
    background-color: black;
    color: white;
}


.wall_up{
    animation:wall_up 1s forwards;
}

@keyframes wall_up{
    from{
        top:0;
        left:0;
    }
    to{
        top:-500%;
    }
}

.wall_down{
    animation:wall_down 1s forwards;
}

@keyframes wall_down{
    from{
        top:-500%;
    }
    to{
        top:0;
        left:0;
    }
}


#error{
    color:white;
    font-size:13px;
    letter-spacing:3px;
}

#blank{
    transition: 0.5s;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    z-index:7 ;
}


/* 
wallpaper=1

icons=2

dialogue box=3

taskbar=5

start menu =6 

power=8*/