.sm{
    display: none;
}

.d{
    position: fixed;
    z-index:4;
    width: 43%;
    height: 76%;
    background-color: rgb(36, 33, 33);
    color: white;
    display: grid;
    grid-template-columns: 1.3fr 6fr 10fr;
    /* animation: up 1s forwards; */
    animation: d 0.5s forwards;

}


@keyframes d{
    from{
        top:20%;
    }
    to{
        top:110%;

    }
}

.start_menu{
    position: fixed;
    z-index:4;
    width: 43%;
    height: 76%;
    background-color: rgb(36, 33, 33);
    color: white;
    display: grid;
    grid-template-columns: 1.3fr 6fr 10fr;
    animation: up 0.5s forwards;
}

@keyframes up{
    from{
        top:110%;
    }
    to{
        top:20%;

    }
}

/* end bar  */
.end_bar{
    overflow-y: scroll;
    display: grid;
    grid-gap: 10px;
}

.end_bar i{
    width:100%;
    color: white;
    border:1px solid rgb(141, 54, 54);
    background-color: rgb(141, 54, 54);
    font-size: 300%;
    padding:20px;
    cursor: default;
}
.end_bar i:hover{
    border:1px solid white;
    background-color: rgba(141, 54, 54, 0.712);
}

.social_bar{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.bar_head{
    display: flex;
    align-items: center;
    background-color: rgba(63, 59, 59, 0.493);
    padding:5px 0;
}

.about_me{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    
}

.quick_access{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

}


/* side bar  */

#side_resume{
    display: flex;
    justify-content: center;
}

.side_bar{
    position: sticky;
    top:20%;
    display:grid;
    grid-template-rows:8fr 1fr 1fr 1fr 1fr 1fr;
    /* border:2px solid red; */
}

.side_bar div.hover, .side_bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;

}

.side_bar div.hover:hover,.side_bar a:hover{
    transition: 0.2s;
    background-color: rgba(97, 87, 87, 0.637);
}

.side_bar img{
    width:50%;
    height: 26px;
    border-radius: 50%;
    
}

a{
    text-decoration: none;
    color: white;
}

/* middle bar  */

.middle_bar{
    overflow-y: auto;
    display: grid;
    grid-gap: 10px;
}

.middle_bar i{
    font-size: 100%;
    width:17%;
    margin-right: 10px;
    padding:10px;
    background-color: rgb(138, 52, 52);
}

.middle_bar div{
    height: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.middle_bar div:hover{
    background-color: rgba(97, 87, 87, 0.637);
}






/* scrollbar  */


.middle_bar::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .middle_bar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .middle_bar::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .middle_bar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* //////////// */
  .end_bar::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .end_bar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .end_bar::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .end_bar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }






/* 
wallpaper=1

icons=2

dialogue box=3

taskbar=5

start menu =6 */