* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Oswald', sans-serif;
    background: #f9f9f9;
  }  

  .head{
    color:black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    font-family: 'Oswald', sans-serif;
  }

  .intro{
      width: 80%;
      text-align: center;
      margin-left: 10%;
      margin-top: 3%;
      margin-bottom: 3%;
  }

  .head span{
       color: red;
  }

  a {
    color: #333;
    text-decoration: none;
  }

.container {
    max-width: 1000px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    height: max-content;
  }

img {
    width: 100%;
  }

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
  }

  .card h3 {
    margin-bottom: 2rem;
  }

  .card img {
    height: 400px;
  }

  .card > div {
    padding: 2rem;
  }

  .card:nth-child(even) img {
    order: 2;
  }

  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .btn:hover {
    opacity: 0.8;
  }

  .comming{
    height:400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    overflow: hidden;

  }

  .comming:nth-child(1){
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  #gif{
    overflow: hidden;
    height: 400px;
    width: 100%;
  }

  @media(max-width:600px) {
    .card,.comming {
      display: block;
    }
  }

  