
.settings{
    position: fixed;
    top:0;
    left:0;
    width:50.03%;
    height: 56.8%;
    margin-left:25%;
    margin-top:9.8%;
    border-radius:0 0 5px 5px;
}

.settings .head{
    padding-top:6%;
    display: flex;
    justify-content: center;
}

.settings .icons{
    padding-top:5%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 1px solid red; */
}

.settings .icons i{
    font-size: 260%;
    display: flex;
    justify-content: center;
    color:rgb(110, 139, 226);
}
.settings .icon_grid{
    position: relative;
    /* border: 1px solid blue; */
    padding:20px;
    width: max-content;
    margin:auto;
    border:0.5px solid black;
    cursor: pointer;

}

.settings .icon_grid:hover{
    border:0.5px solid rgb(204, 201, 201);
    background-color: rgba(102, 98, 98, 0.274);
}

.settings .caption{
    display: flex;
    justify-content: center;
    color:white;
}

/* popup */

.settings .db{
    overflow: hidden;
}

.popup{
    margin-top:1%;
    border: 0.5px solid rgb(204, 201, 201);
    animation:down 1.5s forwards;
}

.popdown{
    margin-top:1%;
    /* border: 0.5px solid rgb(204, 201, 201); */
    animation:up 1.5s forwards;
}

.zero{
    display: none;
}

@keyframes up{
    from{
        height: 20%;
        border:0.5px solid rgb(204, 201, 201);
        padding:20px;
    }
    to{
        height: 0;
        border:0 solid rgb(204, 201, 201);
        padding:0;
    }
}

@keyframes down{
    from{
        height: 0;
        padding-top:0;
    }
    to{
        height:30%;
        padding:20px;
    }
}

/* WALLPAPER  */

.w{
    display: none;
}

.wallpaper_active{
    display: block;
}

.wall_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width:70%;
    margin-left: 15%;
    margin-top: 2%;
}

.wall_head{
    font-size:1.5rem;
    display: flex;
    justify-content: center;
}

.walls{
    margin-left:8%;
    margin-right: 8%;
}

.walls img{
    width:35%;
    /* height: 80px; */
    border:2px solid rgb(204, 201, 201);
    cursor: pointer;
}

.walls img:hover{
    border:2px solid rgb(91, 121, 211);
}

#wall3{
    width: 90%;
}

/* font */
.f{
    display: none;
}

.font_family_active{
   display: block;
}

.f_head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.f_flex{
    margin-top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_flex div{
    margin:0 30px;
    border:2px solid rgb(204, 201, 201);
    padding:0.5% 1.2%;
    cursor: pointer;
    font-weight: bold;

}

.f_flex div:hover{
    color:black;
    background-color: rgb(110, 139, 226);
}

/* text-size */

.t{
    display: none;
}

.font-size_active{
   display: block;
}

.t_head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.t_flex{
    margin-top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t_flex div{
    margin:0 30px;
    border:2px solid rgb(204, 201, 201);
    padding:0.5% 1.2%;
    cursor: pointer;
    font-weight: bold;

}

.t_flex div:hover{
    color:black;
    background-color: rgb(110, 139, 226);
}

/* translator */

.trans{
    display: none;
}

.t_active{
    display: block;
}

#google{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}